<div class="container-fluid px-0 py-3 ">
    <app-navbar></app-navbar>
    <div class="row p-0" style="height:600px">

        <div class="row mb-0 mx-2 ">
            <div
                class="col-md-2 mx-auto mt-2 mb-2 p-2 border border-primary border-1 rounded-3 d-flex flex-column flex-shrink-0 p-3 " style="background-color: #0063A7;">
                <hr>
                <ul class="nav nav-pills flex-column  mb-auto">
                    <li>
                        <a href="/profile" class="nav-link text-white"> Profile </a>
                    </li>
                    <li>
                        <a href="/transaction" class="nav-link text-white">Transactions</a>
                    </li>
                    <li>
                        <a href="/statement" class="nav-link text-white">Statement</a>
                    </li>
                    <li>
                        <a href="/logout" class="nav-link text-white">Logout
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
            <div class="col-md-9 mx-auto mt-2 mb-2 p-2 border border-primary border-1 rounded-3 ">
                <div class="row p-5">


                    <div class="col-md-6 border border-primary border-1 rounded-3 mb-1" style="height:300px">
                    
                    </div>


                    <div class="col-md-6 border border-primary border-1 rounded-3 mb-1" style="height: 300px;">
                       
                    </div>

                </div>


            </div>
        </div>

        <div class="">
            <app-footer></app-footer>
        </div>
    </div>
</div>