<div class="container-fluid px-0 py-3">
    <app-navbar></app-navbar>
    <div class="row">
        <form style="width: 800px;" class="mx-auto mt-5 mb-4 p-5 border border-primary border-1 rounded-5">
            <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="text-center text-primary" style="font-size: 35px;"><b>Trasactions</b></h1>

            <div class="row">
                <div class="col-md-6">

                    <label for="User">to user:</label>
                    <select name="User" id="User">
                        <option value="User1">User1</option>
                        <option value="User2">User2</option>
                        <option value="User3">User3</option>
                        <option value="Userz">Userz</option>
                    </select>
                    <div class="mb-2">
                        <label for="fname" class="form-label">Account number</label>
                        <input type="number" class="form-control" id="Account number">

                    </div>
                    </div>


                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="amount" class="form-label">amount</label>
                            <input type="number" class="form-control" id="amount">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4 mx-auto" style="width: 200px;">Transfer</button>

                </div>
           
        </form>
        <div class="">
            <app-footer></app-footer>
        </div>
    </div>
</div>